{{#*inline "page"}}
  <h1>Edit (Decorrelated) Answers for Lectures</h1>
  <ol>
  {{#each lectures}}
    <li>
      <a href="/edit/lec/{{{ this.id }}}">{{{ this.label }}}</a> 
    </li>
  {{/each}}
  </ol>
{{/inline}}
{{~> (parent)~}}
