<div class="box wide">
  <div class="legend">recover your account</div>

  <form method="POST" action="/users/recover_account">
    <label for="ids">Recovery Hash:</label>
    <input type="text" id="ids" name="ids"><br>
    <label for="password">Password:</label>
    <input type="text" id="password" name="password"><br>
    <input type="submit"/>
  </form>
</div>
