<div class="box wide">
  <div class="legend">recover your account</div>

  <form method="POST" action="/users/recover_account">
    <label for="locators">Locators:</label>
    <input type="text" id="locators" name="locators"><br>
    <label for="pkey">Private Key (super secret):</label>
    <input type="text" id="pkey" name="pkey"><br>
    <input type="submit"/>
  </form>
</div>
