<div class="box wide">
  <div class="legend">undecay your account</div>

  <form method="POST" action="/users/recover_account">
    <label for="username">Username:</label>
    <input type="text" id="uid" name="uid"><br>
    <label for="did">DID:</label>
    <input type="text" id="did" name="did"><br>
    <label for="locators">Locators:</label>
    <input type="text" id="locators" name="locators"><br>
    <label for="pkey">Password:</label>
    <input type="text" id="pkey" name="pkey"><br>
    <input type="submit"/>
  </form>
</div>
