<div class="box wide">
  <div class="legend">recover your account</div>

  <form method="POST" action="/users/recover_account">
    <label for="difflocator">Diff Locator:</label>
    <input type="text" id="difflocator" name="difflocator"><br>
    <label for="ownershiplocator">Ownership Locator:</label>
    <input type="text" id="ownershiplocator" name="ownershiplocator"><br>
    <label for="pkey">Private Key (super secret):</label>
    <input type="text" id="pkey" name="pkey"><br>
    <input type="submit"/>
  </form>
</div>
