{{#*inline "page"}}
  <h1>Restore Your Account</h1>
  <form action="/restore" method="post" accept-charset="utf-8">
    <label>Your Decryption Capability:
      <p>
      <input name="decryption_cap" />
      </p>
    </label>
    <input type=hidden name="loc_caps" value="{{{ LC }}}"/>
    <input type="submit" value="Submit">
  </form>
{{/inline}}
{{~> (parent)~}}
