{{#*inline "page"}}

<h3>Delete your account</h3>
<p><small><form action="/delete" method="post" accept-charset="utf-8">
    <label>Your Decryption Capability (necessary to delete anonymized data):
      <p>
        <textarea name="decryption_cap" rows="1" cols="80"
         placeholder="Decryption capability"></textarea>
    </p>
    </label>
    <label>Prior Anonymization Capabilities (necessary to delete anonymized data)
        <p>
        <textarea name="ownership_loc_caps" rows="10" cols="80"
         placeholder="Comma-separated list of location capabilities from anonymization"></textarea>
        </p>
    </label>
    <input type="submit" value="Delete my account">
</form></small></p>

{{/inline}}
{{~> (parent)~}}

